<section class="pt-30 pb-6 bg-base-200 min-h-screen">
  <div class="max-w-[95vw] mx-auto px-4">
    <div class="text-center mb-10">
      <h1 class="text-5xl font-extrabold text-primary drop-shadow-lg">🔥
        Discounted Products</h1>
      <p class="mt-4 text-lg text-base-content/70">Explore our special deals —
        updated regularly!</p>
      <div class="mt-6 border-t-2 border-primary w-24 mx-auto"></div>
    </div>

    <div class="w-full sm:px-5 lg:px-8">
      <ec-items-list [items]="featuredProducts$ | async"></ec-items-list>
    </div>
  </div>
</section>
